# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build output
frontend/dist/

# Database
# *.db  <-- Uncommented to allow pushing local DB to Railway (for demo purpose)


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
